@import "~admin-lte/dist/css/adminlte.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "rsuite/dist/rsuite.min.css";

.rs-picker-daterange-menu {
    z-index: 90 !important;
}

.sidebar-active .nav-link.active, .sidebar-active .nav-pills .show > .nav-link {
    color: #f2f5f8 !important;
    background-color: #281d36 !important;
}

.card {
    border-radius: 5px !important;
}

.nav-pills .nav-link:hover {
    color: white !important;
    background-color: #281d36 !important;
}

.brand-text {
    color: #fff !important;
    font-weight: 700 !important;
}

.container-margin{
    margin-top: 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.removeBoxShadow{
    box-shadow: none;
}

.sidebar-icon{
    font-size: 0.9rem !important;
}

.btn:disabled{
    opacity: 1 !important;
}

.activeButtonBackground {
    background-color: #48149E !important;
    color:white !important;
}

.passiveButtonBackground {
    background-color: #601AD2 !important;
    color:white !important;
}

.form-checkbox{
    padding-left: 2rem !important;
}