@import "~admin-lte/dist/css/adminlte.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "rsuite/dist/rsuite.min.css";

.rs-picker-daterange-menu {
    z-index: 90 !important;
}

.sidebar-active .nav-link.active, .sidebar-active .nav-pills .show > .nav-link {
    color: #ffffff !important;
    background-color: #7E93AB !important;
}

.nav-pills .nav-link:hover {
    color: white !important;
}

.brand-text {
    color: #fff !important;
    font-weight: 700 !important;
}

.removeBoxShadow{
    box-shadow: none;
}

.nav-pills .nav-link {
    color: #ffffff;
}

.small-box-footer{
    color: #181616cc !important;
}
